/*Global style*/
body {
  font-family: 'Chathura', sans-serif;
  color: #FFF;
  width: auto;
  height: auto;
}

.h1-background{
  background-color: #000;
  height: 75px;
  width: 30%;
  margin: 0 auto;
}

.h1-titles {
  color: #0000FF;
  text-align: center;
  font-size: 3em;
}

h2 {
  font-family: 'Chathura', sans-serif;
  font-size: 3em;
}

p, li{
  font-size: 2em;
}


/*Header styles*/
.header-background {
  background-color: #000;
  grid-area: h;
}

.logo {
  color: #0000FF;
  text-align: center;
  font-size: 4em;
  font-family: 'Press Start 2P', cursive;
}

/*Main content*/

.wrapper {
  height: 100%;
  background-color: #0000FF; /* blue */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 200px auto auto 100px;
  grid-gap: 40px;
  grid-template-areas:
  "h h h h h h h h h h h h"
  "s s s s s s d d d d d d"
  "z z z z z z z z z z z z"
  "f f f f f f f f f f f f";
  padding: 20px;
}

.survivor-section {
  grid-area: s;
}

.death-section {
  grid-area: d;
}

.summary-section {
  grid-area: z;
}

/* Footer */
footer {
  background-color: black;
  grid-area: f;
}

/*graph styles*/
path.domain {
  stroke: white;
}

/*modifying for mobile*/
@media (max-width: 720px){
  .survivor-section {
    grid-column: 1/-1;
  }

  .death-section {
    grid-column: 1/-1;
  }
}
