.header-background {
  background-color: #000;
  height: 200px;
}

.logo {
  color: #0000FF;
  text-align: center;
  padding: 50px;
  font-size: 4em;
  font-family: 'Press Start 2P', cursive;
}

body {
  font-family: 'Chathura', sans-serif;
  color: #FFF;
  width: auto;
  height: auto;
}

.wrapper {
  background-color: #0000FF; /* blue */
  height: auto;
  width: auto;
  padding: 20px;
}

.h1-background{
  background-color: #000;
  height: 75px;
  width: 30%;
  padding: 5px;
}

.h1-titles {
  color: #0000FF;
  text-align: center;
}

h2 {
  font-family: 'Chathura', sans-serif;
  font-size: 3em;
}

p, li{
  font-size: 2em;
}
